
#container {
    width: 500px;
    margin: auto !important;
    display: block;
    height: 500px;
    position: relative;
    list-style-type: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.buddy {
    padding: 20px;
    width: 350px;
    height: 360px;
    top: 75px;
    left: 7%;
    position: absolute;
    cursor: hand;
}

.score {
    left: 37px;
    top: 320px;
    width: 55px;
    height: 55px;    border-radius: 39px;
    background-image: linear-gradient(to right, #b91954, #f400f3);
    position: absolute;
}
.inScore{
    position: absolute;
    margin-top: 18px;
    margin-left: 13px;
    font-size: 18px;
    color: white;
}
.rotate-left {
    transform: rotate(30deg) scale(0.8);
    transition: 1s;
    margin-left: 400px;
    cursor: e-resize;
    opacity: 0;
    z-index: 10;
}

.rotate-right {
    transform: rotate(-30deg) scale(0.8);
    transition: 1s;
    opacity: 0;
    margin-left: -400px;
    cursor: w-resize;
    z-index: 10;
}

.avatar {
    background: #222;
    width: 310px;
    height: 400px;
    display: block;
    background-size: auto 160% !important;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.like {
    border-radius: 5px;
    padding: 5px 10px;
    border: 2px solid green;
    color: green;
    text-transform: uppercase;
    font-size: 15px;
    position: absolute;
    top: 50px;
    right: 40px;
    text-shadow: none;
}

.dislike {
    border-radius: 5px;
    padding: 5px 10px;
    border: 2px solid red;
    color: red;
    text-transform: uppercase;
    font-size: 15px;
    position: absolute;
    top: 50px;
    left: 40px;
    text-shadow: none;
}